*{
  margin: 0;
  padding: 0;
  border: none;
  outline:none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;

  --color1: #ffffff;
  --color2: #e3f6f5;
  --color3: #bae8e8;
  --color4: #272343;

  --gray1: #333;
  
}
