*{
  margin: 0;
  padding: 0;
  border: none;
  outline:none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;

  --color1: #f0e3ff;
  --color2: #d89cf6;
  --color3: #916dd5;
  --color4: #3e206d;

  --gray1: #333;
  
}
